<h1>種類名の編集</h1>

  <%= form_with model: @animal_species, url: admin_animal_species_path, method: :patch do |f| %>
    <%= f.label :name, '種類名' %>
    <%= f.text_field :name %>
    <%= f.submit "変更保存", class: "btn btn-success" %>
  <% end %>