<div class="text-center mb-5"></div>

<div class="container">
  <!--<div class="row">-->
  <!--  <%#= render 'layouts/errors', obj: @genre %>-->
  <!--</div>-->

<h3 class="font-weight-bold col-3 ml-4 mb-4 text-nowrap">投薬記録一覧</h3>

<div class="text-center mb-5"></div>
  <%= link_to "日報作成する", new_medication_path, class: "btn btn-success" %>
<div class="text-center mb-5"></div>

<div class="table-responsive">
  <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">店舗名</th>
          <th scope="col">動物種</th>
          <th scope="col">個体名</th>
          <th scope="col">薬名</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody class="table table-hover">
        <% @medications.each do |medication| %>
        <tr>
          <td class="h5">
            <%#= link_to each_store_path(each_store.id) do %>
              <%= medication.name %>
            <%# end %>
          </td>
          <td class="h5">
            <%#= link_to dairy_path(dairy.id) do %>
              <%#= dairy.title %>
            <%# end %>
          </td>
          <td class="h5">
            <%#= dairy.medication_id %>
          </td>
          <td class="h5"></div>
          <td class="h5"></div>
          <td>
            <%= link_to "編集する", medication_path(medication.id), class: "btn btn-outline-success" %>
            <%= link_to "削除", medication_path(medication.id), method: :delete,
              data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger ml-3" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%#= paginate @seeds, theme: 'twitter-bootstrap-4' %>
  </div>
</div>