<% if comment_saw?(current_store) %>
  <p>
    <%= link_to medication_comment_see_path(comment), class: "text-warning", method: :delete do %>
      <i class="fas fa-star fa-lg"></i>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to medication_comment_sees_path(comment), class: "text-warning", method: :post do %>
      <i class="far fa-star fa-lg"></i>
    <% end %>
  </p>
<% end %>