<table class="table table-hover">
  <tbody>
    <% comments.each do |comment| %>
    <tr>
      <td><%= comment.created_at.to_s(:datetime_jp) %></td>
      <td>
        <% if comment.store_id != nil %>
          <%= comment.store.name %>
        <% else %>
          管理者
        <% end %>
      </td>
      <td><%= comment.comment %></td>
      <td>
        <% if comment.store_id == current_store.id %>
          <%= link_to medication_comment_path(comment.medication,comment), method: :delete, class: "text-danger" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>