@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');


* {
  font-family: 'Kiwi Maru', serif;
}

body {
  // 半角英数折返しの設定
  // word-wrap: break-word !important;
  overflow-wrap: break-all;
}

.comment-table {
  table-layout: fixed;
}

.comment-class {
  overflow-wrap: break-word;
  width: 100%;
}

.img_wrap img{
  width: 100%;
  cursor: pointer;
}
.img_wrap:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

// ↓ページネーション
.pagination {
  justify-content: center;
}
.pagination>li>a {
  border: none;
  color: #696969;
}
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

// 一覧上部へ
.top-btn {
  position:   fixed;
  right:      30px;
  bottom:     40px;
}

.top-btn a {
  width:      50px;
  height:     50px;

}

// アコーディオンメニューデザイン
.accordion-container .accordion-title {
  color: #fff;
  background: #343a40 ;
  cursor: pointer
}
// カーソルが乗ったときのデザイン
.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
  background-color: #000000;
  color: white;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
// 最初は隠しておく
.accordion-content {
  display: none;
}
// トグルの位置固定
.accordion-title{
  position: relative;
}
// トグルのデザイン
.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}
