<div class=" col-lg-3 section s_01">
  <div class="text-center mb-5"></div>

  <div class="accordion_one">
    <div class="accordion_header">一覧リスト<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <div class="col">
          <%= link_to each_stores_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>
            <i class="fas fa-store"></i> 店舗一覧
          <% end %>
        </div>
        <div class="col">
          <%= link_to dairies_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>
            <i class="fas fa-book-open"></i> 日報一覧
          <% end %>
        </div>
        <div class="col">
          <%= link_to admin_medications_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>
            <i class="fas fa-book-open"></i> 投薬一覧
          <% end %>
        </div>
        <div class="col">
          <%= link_to individuals_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>
            <i class="fas fa-paw"></i> 動物一覧
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="accordion_one">-->
  <!--  <div class="accordion_header">登録リスト<div class="i_box"><i class="one_i"></i></div></div>-->
  <!--  <div class="accordion_inner">-->
  <!--    <div class="box_one">-->
  <!--      <div class="col">-->
  <!--        <%#= link_to admin_medicines_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>-->
  <!--          <i class="fas fa-pills"></i> 薬登録-->
  <!--        <%# end %>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <%#= link_to admin_number_of_times_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>-->
  <!--          <i class="fas fa-stopwatch-20"></i> 回数登録-->
  <!--        <%# end %>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <%#= link_to admin_seeds_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>-->
  <!--          <i class="fas fa-paw"></i> 動物種登録-->
  <!--        <%# end %>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <%#= link_to admin_weathers_path, class: "btn btn-outline-info btn-sm btn-block mb-3" do %>-->
  <!--          <i class="fas fa-cloud-sun"></i> 天気登録-->
  <!--        <%# end %>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

    <!--<div class="accordion_one">-->
    <!--  <div class="accordion_header">シンプル版<div class="i_box"><i class="one_i"></i></div></div>-->
    <!--  <div class="accordion_inner">-->
    <!--    <div class="box_one">-->
    <!--      アコーディオンの中身-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

</div>