<table class="table table-borderless table-hover text-center accordion-container">
  <thead class="table-active bg-dark text-light accordion-title js-accordion-title">
    <tr>
      <th class="h5 font-weight-bold rounded">薬</th>
    </tr>
  </thead>
  <tbody class="accordion-content" style="text-align: -webkit-center;">
    <% medicines.each do |medicine| %>
      <tr>
        <td>
          <%= link_to medications_path(medicine_id: medicine.id), class: "text-dark" do %>
            <%= medicine.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>