<table class="table table-borderless table-hover text-center">
  <thead class="table-active table-dark">
    <tr>
      <th class="h5 font-weight-bold rounded">動物種</th>
    </tr>
  </thead>
  <% seeds.each do |seed| %>
  <tr>
    <td class="rounded">
      <%= link_to individuals_path(seed_id: seed.id), class: "text-dark" do %>
        <%= seed.name %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>