<div class="jumbotron">
  <div class="container text-right">
    <h1>welcome to <i class="fas fa-paw"></i></h1>
    <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal medication dairy</strong></h1>
    <div class="mb-5"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">

    <div class="contents-area col-8 rounded px-5 mb-4">

      <div class=" mt-4">
        <!--スペース用-->
        <div class="mb-5"></div>

        <div class="row">
          <div class='mx-auto text-responsive'>

            <h4><i class="fas fa-notes-medical"></i><strong>Animal Medication Dairy</strong>は, </h4>
            <p>動物の日誌や投薬計算と記録をすることができるアプリです<i class="fas fa-paw"></i></p>
            <p>日々の日報記録に加えて、投薬記録も作ることができます。</p>
            <p>また、計算が苦手な方でも数字を入力するだけで、必要量を自動計算+保存してくれる機能も付いています。</p>

            <div class="col">
              <%= link_to 'ゲストログイン（閲覧用）', store_guest_sign_in_path, class: "btn btn-secondary btn-block mb-3 sign_in", method: :post %>
            </div>
            <div class="col">
              <%= link_to '店舗ログイン', new_store_session_path, class: "btn btn-info btn-block mb-3 sign_in" %>
            </div>

            <div class="col">
              <%= link_to '店舗新規登録', new_store_registration_path, class: "btn btn-success btn-block mb-3 sign_up" %>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>