

<h4 class="text-success"><%= flash[:notice] %></h4>
<div class="container">
  <div class="row">
    <div class='mx-auto text-responsive'>
      <h1 class="responsive"><i class="fas fa-notes-medical"></i>使い方</h1>
      <p>①動物の登録をする<i class="fas fa-paw"></i></p>
      <%= link_to individuals_path, class: "btn btn-info" do %>
        <i class="fas fa-paw"></i> 動物一覧
      <% end %>
      
      <p>②日報作成、投薬記録の作成<i class="fas fa-paw"></i></p>
      <%= link_to medications_path, class: "btn btn-info" do %>
        <i class="fas fa-notes-medical"></i> 投薬一覧
      <% end %>
      
    </div>
  </div>
</div>