店舗アバウトページ

「本社からのお知らせとか通知とか載せられたらいいな」
<h4 class="text-success"><%= flash[:notice] %></h4>

<h1>個体一覧</h1>
<div>
  <%= link_to '個体一覧ページ', individuals_path %>
</div>

<h1>店舗一覧</h1>
<div>
  <%= link_to '店舗一覧ページ', each_stores_path %>
</div>