店舗アバウトページ

「本社からのお知らせとか通知とか載せられたらいいな」

店舗ログアウト
<%= link_to 'ログアウト', destroy_store_session_path, method: :delete %>

<h1>個体一覧</h1>
<div>
  <%= link_to '個体一覧ページ', individuals_path %>
</div>

<h1>店舗一覧</h1>
<div>
  <%= link_to '店舗一覧ページ', each_stores_path %>
</div>