<div class="jumbotron">
  <div class="container text-right">
    <h1>welcome to <i class="fas fa-paw"></i></h1>
    <h1 class="responsive"><i class="fas fa-notes-medical"></i> <strong>Animal medication dairy</strong></h1>
    <div class="mb-5"></div>
  </div>
</div>



<% if store_signed_in? %>
  <%= render 'store/homes/top_after' %>
<% else %>
  <%= render 'store/homes/top_before' %>
<% end %>