<% if medication.favorite?(current_store) %>
  <%= link_to medication_favorite_path(medication.id), method: :delete do %>
      <span style="color:red;">❤︎</span>
  <% end %>
<% else %>
  <%= link_to medication_favorite_path(medication.id), method: :post do %>
      <span>❤︎</span>
  <% end %>
<% end %>