      <!--保留、日誌とかの登録が終わってから-->
      <div class="card">
        <div class="card-header">
          薬名検索
        </div>
        <ul class="list-group list-group-flush">
          <% @medicine.each do |medicine| %>
          <li class="list-group-item">
            <%= link_to medicine.name, medicine_path(medicine.id), class: 'text-reset h5' %>
          </li>
          <% end %>
        </ul>
      </div>