<div class='container mt-5 mx-auto'>
	<div class='row'>
  	<div class='mx-auto'>
  	  <p class="text-center"><%= link_to '管理者ログイン', new_admin_session_path %></p>
  		<p>CopyRight Animal madication Dairy</p>
  	</div>
  </div>
</div>